@model Admin_Panel.Models.Category

@{
    ViewData["Title"] = "Details";
}


<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-4">Details</h1>

    <div class="mb-4">
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Lang)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Lang)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ParentId)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ParentId)</dd>
        
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedAt)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.UpdatedAt)</dd>
            <dt class="col-sm-2">Image</dt>
         
              @if(@Model.ImageId != null){
                            <dd>
                            <img class="image-cell" src="@Model.UploadedFiles.FilePath" style="width: 250px;height=500px;"/ >
                        </dd>
                        }else{
<dd>
                           
                        </dd>
                        }
            <dt class="col-sm-2">Icon</dt>
         
              @if(@Model.IconId != null){
                            <dd>
                            <img class="image-cell" src="@Model.UploadedFileIcon.FilePath" style="width: 250px;height=500px;"/ >
                        </dd>
                        }else{
<dd>
                           
                        </dd>
                        }
        </dl>
    </div>

    <div class="mb-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
