@model Admin_Panel.Models.Product

@{
    ViewData["Title"] = "Details";
}


<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-4">Details</h1>

    <div class="mb-4">
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Lang)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Lang)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ShortName)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ShortName)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ShortDescription)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ShortDescription)</dd>
            <dt class="col-sm-2">Image</dt>
            @* <dd class="col-sm-10">@Html.DisplayFor(model => model.ImageId)</dd> *@
            @if (@Model.ImageId != null)

            {
                <dd>
                    <img class="image-cell" src="@Model.UploadedFiles.FilePath" style="width: 250px;height=500px;" />
                </dd>
            }
            else

            {
                <dd>

                </dd>
            }

            @if (Model.ProductToUploadedFile != null && Model.ProductToUploadedFile.Any())
            {
                <div id="image-slider">
                    @foreach (var uploadedFile in Model.ProductToUploadedFile)
                    {
                        <img class="image-cell" src="@uploadedFile.UploadedFile.FilePath" alt="@uploadedFile.UploadedFile.Name"
                            style="width: 250px; height: 250px;" />
                    }
                </div>
            }
            else
            {
                <div id="image-slider">
                    <!-- You can add a default image or leave it empty -->
                </div>
            }
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Price)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Sku)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Sku)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DiscountedPrice)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DiscountedPrice)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedAt)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.UpdatedAt)</dd>

        </dl>
    </div>

    <div class="mb-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
@section Scripts {
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

  
}